# Archivos de IntelliJ IDEA
.idea/
*.iml

# Compilados de Java
/out/
target/
build/
*.class

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.swp

# Archivos de Gradle
.gradle/
build/

# Archivos de Maven
target/

# Archivos de configuración de usuario
*.iws
*.ipr

# Configs personales
*.env
*.local
*.bak

# Archivos de prueba
test-output/
